<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paolosport.appa"
    android:largeHeap="true" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_appa"
        android:label="@string/app_name"
        android:theme="@style/Theme.Temaappa" >
        <activity
            android:name=".MainActivity"
            android:icon="@drawable/logo_appa"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ActivityLocal"
            android:label="@string/title_activity_activity_local" >
        </activity>
        <activity
            android:name=".activities.ActivityMarca"
            android:label="@string/title_activity_activity_marca" >
        </activity>
        <activity
            android:name=".activities.ActivityPersona"
            android:label="@string/title_activity_activity_persona" >
        </activity>
        <activity
            android:name=".ActivityPrestamos"
            android:label="@string/title_activity_activity_prestamos" >
        </activity>
        <activity
            android:name=".activities.ActivityListaPrestamos"
            android:label="@string/title_activity_activity_list" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.paolosport.appa.MainActivity" />
        </activity>
        <activity
            android:name=".activities.opcion_informacion"
            android:label="@string/title_activity_prueba" >
        </activity>
        <activity
            android:name=".activities.ActivityConfiguracion"
            android:label="@string/title_activity_activity_configuracion" >
        </activity>
    </application>

</manifest>
